<div class="fullscreen left-content-box" id="graph-box">
  <div class="box box-default">
    <div class="box-body">
      <div class="component-filter">
        <div class="component-filter-title"><%= __('Confirme abaixo os filtros dos gráficos.') %></div>
        <div class="component-filter-content">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="continents-graphics"><%= __('Continentes') %></label>
                <select id="continents-graphics" name="continents-graphics" class="form-control">
                  <option value=""><%= __('Selecione o continente') %></option>
                  <% continents.rows.forEach(function(continent, index) { %>
                    <% if(continent.name === "Americas") { %>
                      <option value="<%- continent.id %>">Am&eacute;ricas</option>
                    <% } else if(continent.name === "Europe") { %>
                      <option value="<%- continent.id %>">Europa</option>
                    <% } else if(continent.name === "Africa") { %>
                      <option value="<%- continent.id %>">&Aacute;frica</option>
                    <% } else if(continent.name === "South_America") { %>
                      <option value="<%- continent.id %>">Am&eacute;rica do Sul</option>
                    <% } else { %>
                      <option value="<%- continent.id %>"><%- continent.name %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="countries-graphics"><%= __('Países') %></label>
                <select multiple id="countries-graphics" name="countries-graphics" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-2" style="border-right: 1px solid black;">
              <div class="form-group">
                <label for="states-graphics"><%= __('Estados') %></label>
                <select multiple id="states-graphics" name="states-graphics" class="form-control" disabled></select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="filter-date-from-graphics"><%= __('Início') %></label>
                <input type="text" class="form-control date filter-date-from" id="filter-date-from-graphics" placeholder="De">
              </div>
              <div class="form-group">
                <label for="filter-date-to-graphics"><%= __('Fim') %></label>
                <input type="text" class="form-control date filter-date-to" id="filter-date-to-graphics" placeholder="Até">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-satellite-graphics"><%= __('Focos dos Sat&eacute;lites') %></label>
                <select multiple class="form-control" id="filter-satellite-graphics">
                  <%
                  var satelliteOptions = "";
                  var referenceSatellite = "";
                  var isSatelliteSelected = false;

                  configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
                    if(satellite.Current) {
                      if(satellite.ReferenceCurrent) {
                        referenceSatellite += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          referenceSatellite += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          referenceSatellite += ">";
                        }

                        referenceSatellite += "Refer. (" + satellite.Name + ")</option>";
                      } else {
                        satelliteOptions += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          satelliteOptions += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          satelliteOptions += ">";
                        }

                        satelliteOptions += satellite.Name + "</option>";
                      }
                    }
                  })
                  %>

                  <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>><%= __('TODOS') %></option>
                  <%- referenceSatellite + satelliteOptions %>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-biome-graphics"><%= __('Focos dos Biomas') %></label>
                <select multiple class="form-control" id="filter-biome-graphics">
                  <option value="all" selected><%= __('TODOS') %></option>
                  <option value="Amazonia">Amaz&ocirc;nia</option>
                  <option value="Caatinga">Caatinga</option>
                  <option value="Cerrado">Cerrado</option>
                  <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
                  <option value="Pampa">Pampa</option>
                  <option value="Pantanal">Pantanal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <button class="btn btn-primary" id="filter-button-graphics" style="margin-top: 40px;"><%= __('Aplicar') %></button>
              </div>
            </div>
          </div>
        </div>
        <span id="graphics-no-data" style="text-align: center; display: none;">
          <div class="clear"></div>
          <hr/>
          <h4><%= __('Sem focos com a seleção escolhida') %></h4>
        </span>
      </div>
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
  <div id="graphics-container"></div>
</div>
<div id="time-series-dialog" title="S&eacute;ries Temporais"><div><canvas id="time-series"></canvas></div></div>
