<div class="left-content-box" id="layer-explorer-and-filter-box">
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="continents" class="col-sm-2 control-label" style="padding-left: 0px; padding-right: 0px; margin-left: 15px; float: left;"><%= __('Continentes') %></label>
      <div class="col-sm-9" style="float: right; width: 75%;">
        <select id="continents" name="continents" class="form-control">
          <option value=""><%= __('Selecione o continente') %></option>
          <% continents.rows.forEach(function(continent, index) { %>
            <% if(continent.name === "Americas") { %>
              <option value="<%- continent.id %>">Am&eacute;ricas</option>
            <% } else if(continent.name === "Europe") { %>
              <option value="<%- continent.id %>">Europa</option>
            <% } else if(continent.name === "Africa") { %>
              <option value="<%- continent.id %>">&Aacute;frica</option>
            <% } else if(continent.name === "South_America") { %>
              <option value="<%- continent.id %>">Am&eacute;rica do Sul</option>
            <% } else { %>
              <option value="<%- continent.id %>"><%- continent.name %></option>
            <% } %>
          <% }) %>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group bdqueimadas-form float-left">
    <label for="countries"><%= __('Países') %></label>
    <select multiple id="countries" name="countries" class="form-control" style="width: 148px;"></select>
  </div>
  <div class="form-group bdqueimadas-form float-right">
    <label for="states"><%= __('Estados') %></label>
    <select multiple id="states" name="states" class="form-control" style="width: 148px;"></select>
  </div>
  <div style="clear: both; height: 4px;"></div>
  <div class="form-group bdqueimadas-form">
    <label for="pas"><%= __('UCs / TIs') %></label>
    <div class="input-group">
      <input type="text" id="pas" name="pas" class="form-control" placeholder="<%= __('UCs / TIs') %>">
      <span class="input-group-btn">
        <button type="button" id="search-pas-btn" class="btn btn-flat">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
  <div style="clear: both; height: 5px;"></div>
  <hr/>
  <div style="clear: both; height: 5px;"></div>
  <div class="form-group bdqueimadas-form">
    <div style="float: left;">
      <label for="filter-date-from" style="float: left; margin-right: 4px; margin-top: 5px;"><%= __('Data Início') %></label>
      <input type="text" style="width: 84px; float: left; padding-left: 7px; padding-right: 7px;" class="form-control date filter-date filter-date-from" id="filter-date-from" placeholder="<%= __('De') %>">
    </div>
    <div style="float: right;">
      <label for="filter-date-to" style="float: left; margin-right: 13px; margin-top: 5px;"><%= __('Data Fim') %></label>
      <input type="text" style="width: 84px; float: left; padding-left: 7px; padding-right: 7px;" class="form-control date filter-date filter-date-to" id="filter-date-to" placeholder="<%= __('Até') %>">
    </div>
  </div>
  <div style="clear: both; height: 4px;"></div>
  <div class="form-group bdqueimadas-form">
    <div style="float: left;">
      <label for="filter-time-from" style="float: left; margin-right: 2px; margin-top: 5px;"><%= __('Hora Início') %></label>
      <input type="text" style="width: 84px; float: left; padding-left: 7px; padding-right: 7px;" class="form-control time filter-time filter-time-from" id="filter-time-from" placeholder="<%= __('De') %>">
    </div>
    <div style="float: right;">
      <label for="filter-time-to" style="float: left; margin-right: 13px; margin-top: 5px;"><%= __('Hora Fim') %></label>
      <input type="text" style="width: 84px; float: left; padding-left: 7px; padding-right: 7px;" class="form-control time filter-time filter-time-to" id="filter-time-to" placeholder="<%= __('Até') %>">
    </div>
  </div>
  <div style="clear: both;"></div>
  <div class="form-group bdqueimadas-form float-left">
    <label for="filter-satellite"><%= __('Focos dos Satélites') %></label>
    <select multiple class="form-control" id="filter-satellite" style="width: 148px;">
      <%
      var satelliteOptions = "";
      var referenceSatellite = "";
      var isSatelliteSelected = false;

      configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
        if(satellite.Current) {
          if(satellite.ReferenceCurrent) {
            referenceSatellite += "<option value=\"" + satellite.Id + "\"";

            if(satellite.Selected) {
              referenceSatellite += " selected>";

              if(!isSatelliteSelected) isSatelliteSelected = true;
            } else {
              referenceSatellite += ">";
            }

            referenceSatellite += "Refer. (" + satellite.Name + ")</option>";
          } else {
            satelliteOptions += "<option value=\"" + satellite.Id + "\"";

            if(satellite.Selected) {
              satelliteOptions += " selected>";

              if(!isSatelliteSelected) isSatelliteSelected = true;
            } else {
              satelliteOptions += ">";
            }

            satelliteOptions += satellite.Name + "</option>";
          }
        }
      })
      %>

      <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>><%= __('TODOS') %></option>
      <%- referenceSatellite + satelliteOptions %>
    </select>
  </div>
  <div class="form-group bdqueimadas-form float-right">
    <label for="filter-biome"><%= __('Focos nos Biomas') %></label>
    <select multiple class="form-control" id="filter-biome" style="width: 148px;">
      <option value="all" selected><%= __('TODOS') %></option>
      <option value="Amazonia">Amaz&ocirc;nia</option>
      <option value="Caatinga">Caatinga</option>
      <option value="Cerrado">Cerrado</option>
      <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
      <option value="Pampa">Pampa</option>
      <option value="Pantanal">Pantanal</option>
    </select>
  </div>
  <div style="clear: both; height: 5px;"></div>
  <button class="btn btn-primary" id="filter-button"><%= __('Aplicar') %></button>
  <button class="btn btn-primary" id="initial-filter-button"><%= __('Mapa Inicial') %></button>
  <div style="clear: both; height: 5px;"></div>
  <hr/>
  <h4 class="layer-explorer-and-filters-title"<%- configurations.mapConfigurations.EnableAddAndRemoveLayers ? '' : ' style="padding: 0px !important;"' %>>
    <%= __('Camadas (mova a camada p/ cima se ela não aparecer)') %>
    <%
      if(configurations.mapConfigurations.EnableAddAndRemoveLayers) {
        %> <i class="fa fa-fw fa-plus" id="add-layer"></i><%
      }
    %>
  </h4>
  <div id="terrama2-layerexplorer" style="max-height: 350px;overflow: auto;"></div>
</div>
