<div class="left-content-box" id="layer-explorer-and-filter-box">
  <h4 class="layer-explorer-and-filters-title">Filtros de Datas e de Sat&eacute;lites</h4>
  <br/>
  <div class="form-group">
    <div style="float: left;">
      <label for="filter-date-from" style="float: left; margin-right: 10px; margin-top: 5px;">Início</label>
      <input type="text" style="max-width: 100px;" class="form-control date filter-date" id="filter-date-from" placeholder="De" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
    </div>
    <div style="float: right;">
      <label for="filter-date-to" style="float: left; margin-right: 10px; margin-top: 5px;">Fim</label>
      <input type="text" style="max-width: 100px;" class="form-control date filter-date" id="filter-date-to" placeholder="Até" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
    </div>
  </div>
  <div style="clear: both; height: 15px;"></div>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="filter-satellite" class="col-sm-3 control-label">Sat&eacute;lites</label>
      <div class="col-sm-9">
        <select class="form-control" id="filter-satellite">
          <option value="all">TODOS</option>
          <%
          configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
            if(satellite.Current) {
            %>
            <option value="<%- satellite.Name %>"<%- satellite.Selected ? " selected" : "" %>><%- satellite.Name %></option>
            <%
            }
          })
          %>
        </select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" id="filter-button">Aplicar</button>
  <hr/>
  <h4 class="layer-explorer-and-filters-title">Filtros Espaciais</h4>
  <br/>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="continents" class="col-sm-3 control-label">Continentes</label>
      <div class="col-sm-9">
        <select id="continents" name="continents" class="form-control">
          <option value="">Selecione o continente</option>
          <% continents.rows.forEach(function(continent, index) { %>
            <option value="<%- continent.id %>"><%- continent.name %></option>
          <% }) %>
        </select>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="countries" class="col-sm-3 control-label" style="text-align: left;">Países</label>
      <div class="col-sm-9">
        <select id="countries" name="countries" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="states" class="col-sm-3 control-label">Estados</label>
      <div class="col-sm-9">
        <select id="states" name="states" class="form-control"></select>
      </div>
    </div>
  </div>
  <hr/>
  <h4 class="layer-explorer-and-filters-title">Camadas</h4>
  <br/>
  <div id="terrama2-layerexplorer" style="max-height: 250px;overflow: auto;"></div>
</div>
