<div class="left-content-box" id="layer-explorer-and-filter-box">
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="continents" class="col-sm-3 control-label" style="padding-left: 0px; padding-right: 0px; margin-left: 5px; float: left;">Continentes</label>
      <div class="col-sm-9" style="float: right; width: 73%;">
        <select id="continents" name="continents" class="form-control">
          <option value="">Selecione o continente</option>
          <% continents.rows.forEach(function(continent, index) { %>
            <% if(continent.name === "Americas") { %>
              <option value="<%- continent.id %>">Am&eacute;ricas</option>
            <% } else if(continent.name === "Europe") { %>
              <option value="<%- continent.id %>">Europa</option>
            <% } else if(continent.name === "Africa") { %>
              <option value="<%- continent.id %>">&Aacute;frica</option>
            <% } else if(continent.name === "South_America") { %>
              <option value="<%- continent.id %>">Am&eacute;rica do Sul</option>
            <% } else { %>
              <option value="<%- continent.id %>"><%- continent.name %></option>
            <% } %>
          <% }) %>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group bdqueimadas-form float-left">
    <label for="countries">Países</label>
    <select multiple id="countries" name="countries" class="form-control" style="width: 140px;"></select>
  </div>
  <div class="form-group bdqueimadas-form float-right">
    <label for="states">Estados</label>
    <select multiple id="states" name="states" class="form-control" style="width: 140px;"></select>
  </div>
  <div style="clear: both; height: 5px;"></div>
  <hr/>
  <div style="clear: both; height: 5px;"></div>
  <div class="form-group bdqueimadas-form">
    <div style="float: left;">
      <label for="filter-date-from" style="float: left; margin-right: 10px; margin-top: 5px;">Início</label>
      <input type="text" style="width: 96px; float: left;" class="form-control date filter-date filter-date-from" id="filter-date-from" placeholder="De">
    </div>
    <div style="float: right;">
      <label for="filter-date-to" style="float: left; margin-right: 20px; margin-top: 5px;">Fim</label>
      <input type="text" style="width: 96px; float: left;" class="form-control date filter-date filter-date-to" id="filter-date-to" placeholder="Até">
    </div>
  </div>
  <div style="clear: both;"></div>
  <div class="form-group bdqueimadas-form float-left">
    <label for="filter-satellite">Focos dos Sat&eacute;lites</label>
    <select multiple class="form-control" id="filter-satellite" style="width: 140px;">
      <%
      var satelliteOptions = "";
      var referenceSatellite = "";
      var isSatelliteSelected = false;

      configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
        if(satellite.Current) {
          if(satellite.ReferenceCurrent) {
            referenceSatellite += "<option value=\"" + satellite.Id + "\"";

            if(satellite.SelectedInFilter) {
              referenceSatellite += " selected>";

              if(!isSatelliteSelected) isSatelliteSelected = true;
            } else {
              referenceSatellite += ">";
            }

            referenceSatellite += "Refer. (" + satellite.Name + ")</option>";
          } else {
            satelliteOptions += "<option value=\"" + satellite.Id + "\"";

            if(satellite.SelectedInFilter) {
              satelliteOptions += " selected>";

              if(!isSatelliteSelected) isSatelliteSelected = true;
            } else {
              satelliteOptions += ">";
            }

            satelliteOptions += satellite.Name + "</option>";
          }
        }
      })
      %>

      <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>>TODOS</option>
      <%- referenceSatellite + satelliteOptions %>
    </select>
  </div>
  <div class="form-group bdqueimadas-form float-right">
    <label for="filter-biome">Focos nos Biomas</label>
    <select multiple class="form-control" id="filter-biome" style="width: 140px;">
      <option value="all" selected>TODOS</option>
      <option value="Amazonia">Amaz&ocirc;nia</option>
      <option value="Caatinga">Caatinga</option>
      <option value="Cerrado">Cerrado</option>
      <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
      <option value="Pampa">Pampa</option>
      <option value="Pantanal">Pantanal</option>
    </select>
  </div>
  <div style="clear: both; height: 5px;"></div>
  <button class="btn btn-primary" id="filter-button">Aplicar</button>
  <button class="btn btn-primary" id="initial-filter-button">Mapa Inicial</button>
  <div style="clear: both; height: 5px;"></div>
  <hr/>
  <h4 class="layer-explorer-and-filters-title"<%- configurations.mapConfigurations.EnableAddAndRemoveLayers ? '' : ' style="padding: 0px !important;"' %>>
    Camadas (mova a camada p/ cima se ela não aparecer)
    <%
      if(configurations.mapConfigurations.EnableAddAndRemoveLayers) {
        %> <i class="fa fa-fw fa-plus" id="add-layer"></i><%
      }
    %>
  </h4>
  <div id="terrama2-layerexplorer" style="max-height: 350px;overflow: auto;"></div>
</div>
