<div class="left-content-box" id="layer-explorer-and-filter-box">
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="continents" class="col-sm-3 control-label" style="padding-left: 0px; padding-right: 0px;">Continentes</label>
      <div class="col-sm-9">
        <!--<select id="continents" name="continents" class="form-control">
          <option value="">Selecione o continente</option>
          <% continents.rows.forEach(function(continent, index) { %>
            <option value="<%- continent.id %>"><%- continent.name %></option>
          <% }) %>
        </select>-->
        <select id="continents" name="continents" class="form-control">
          <option value="">Selecione o continente</option>
          <option value="América do Sul">América do Sul</option>
          <option value="América Central">América Central</option>
          <option value="América do Norte">América do Norte</option>
          <option value="Centro da África">África-Central</option>
          <option value="Norte da África">África-Norte</option>
          <option value="Sul da África">África-Sul</option>
          <option value="África Oriental">África-Oriental</option>
          <option value="África Ocidental">África-Ocidental</option>
          <option value="Norte da Europa">Europa-Norte</option>
          <option value="Sul da Europa">Europa-Sul</option>
          <option value="Europa Ocidental">Europa-Ocidental</option>
          <option value="Europa Oriental">Europa-Oriental</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="countries" class="col-sm-3 control-label" style="padding-left: 0px; padding-right: 0px;">Países</label>
      <div class="col-sm-9">
        <select multiple id="countries" name="countries" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="states" class="col-sm-3 control-label" style="padding-left: 0px; padding-right: 0px;">Estados</label>
      <div class="col-sm-9">
        <select multiple id="states" name="states" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="form-group bdqueimadas-form">
    <div style="float: left;">
      <label for="filter-date-from" style="float: left; margin-right: 10px; margin-top: 5px;">Início</label>
      <input type="text" style="max-width: 100px; float: left;" class="form-control date filter-date filter-date-from" id="filter-date-from" placeholder="De">
    </div>
    <div style="float: right;">
      <label for="filter-date-to" style="float: left; margin-right: 10px; margin-top: 5px;">Fim</label>
      <input type="text" style="max-width: 100px; float: left;" class="form-control date filter-date filter-date-to" id="filter-date-to" placeholder="Até">
    </div>
  </div>
  <div style="clear: both; height: 5px;"></div>
  <div class="form-horizontal">
    <div class="form-group bdqueimadas-form">
      <label for="filter-satellite" class="col-sm-6 control-label" style="text-align: left;">Focos dos Sat&eacute;lites</label>
      <div class="col-sm-6">
        <select multiple class="form-control" id="filter-satellite">
          <option value="all" selected>TODOS</option>
          <%
          configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
            if(satellite.Current) {
            %>
            <option value="<%- satellite.Name %>"<%- satellite.Selected ? " selected" : "" %>><%- satellite.Name %></option>
            <%
            }
          })
          %>
        </select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" id="filter-button">Aplicar</button>
  <hr/>
  <h4 class="layer-explorer-and-filters-title">
    Camadas
    <%
      if(configurations.mapConfigurations.EnableAddAndRemoveLayers) {
        %> <i class="fa fa-fw fa-plus" id="add-layer"></i><%
      }
    %>
  </h4>
  <br/>
  <div id="terrama2-layerexplorer" style="max-height: 250px;overflow: auto;"></div>
</div>
