<div class="fullscreen left-content-box" id="table-box">
  <br/>
  <div class="box" id="box-attributes-table">
    <div class="box-body">
      <div class="component-filter">
        <div class="component-filter-title"><%= __('Confirme abaixo os filtros da tabela de atributos. Para baixar os dados use a ferramenta de exportação.') %></div>
        <div class="component-filter-content">
          <div class="row">
            <div class="col-md-5" style="border-right: 1px solid black;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="continents-attributes-table"><%= __('Continentes') %></label>
                    <select id="continents-attributes-table" name="continents-attributes-table" class="form-control">
                      <option value=""><%= __('Selecione o continente') %></option>
                      <% continents.rows.forEach(function(continent, index) { %>
                        <% if(continent.name === "Americas") { %>
                          <option value="<%- continent.id %>">Am&eacute;ricas</option>
                        <% } else if(continent.name === "Europe") { %>
                          <option value="<%- continent.id %>">Europa</option>
                        <% } else if(continent.name === "Africa") { %>
                          <option value="<%- continent.id %>">&Aacute;frica</option>
                        <% } else if(continent.name === "South_America") { %>
                          <option value="<%- continent.id %>">Am&eacute;rica do Sul</option>
                        <% } else { %>
                          <option value="<%- continent.id %>"><%- continent.name %></option>
                        <% } %>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pas-attributes-table"><%= __('UCs / TIs (Apenas Brasil)') %></label>
                    <div class="input-group">
                      <input type="text" id="pas-attributes-table" name="pas-attributes-table" class="form-control" placeholder="<%= __('UCs / TIs (Apenas Brasil)') %>">
                      <span class="input-group-btn">
                        <button type="button" id="search-pas-btn-attributes-table" class="btn btn-flat">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="countries-attributes-table"><%= __('Países') %></label>
                    <select multiple id="countries-attributes-table" name="countries-attributes-table" class="form-control"></select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="states-attributes-table"><%= __('Estados') %></label>
                    <select multiple id="states-attributes-table" name="states-attributes-table" class="form-control" disabled></select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city-attributes-table">Municípios</label>
                    <div class="input-group">
                      <input type="text" id="city-attributes-table" name="city-attributes-table" class="form-control" placeholder="Municípios">
                      <span class="input-group-btn">
                        <button type="button" id="search-cities-btn-attributes-table" class="btn btn-flat">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="filter-date-from-attributes-table"><%= __('Data Início - Z') %></label>
                <input type="text" class="form-control date filter-date-from" id="filter-date-from-attributes-table" placeholder="<%= __('Data Início') %>">
              </div>
              <div class="form-group">
                <label for="filter-date-to-attributes-table"><%= __('Data Fim - Z') %></label>
                <input type="text" class="form-control date filter-date-to" id="filter-date-to-attributes-table" placeholder="<%= __('Data Fim') %>">
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="filter-time-from-attributes-table"><%= __('Hora Início - Z') %></label>
                <input type="text" class="form-control time filter-time-from" id="filter-time-from-attributes-table" placeholder="<%= __('Hora Início') %>" value="00:00">
              </div>
              <div class="form-group">
                <label for="filter-time-to-attributes-table"><%= __('Hora Fim - Z') %></label>
                <input type="text" class="form-control time filter-time-to" id="filter-time-to-attributes-table" placeholder="<%= __('Hora Fim') %>" value="23:59">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-satellite-attributes-table"><%= __('Focos dos Satélites') %></label>
                <select multiple class="form-control" id="filter-satellite-attributes-table">
                  <%
                  var satelliteOptions = "";
                  var referenceSatellite = "";
                  var isSatelliteSelected = false;

                  configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
                    if(satellite.Current) {
                      if(satellite.ReferenceCurrent) {
                        referenceSatellite += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          referenceSatellite += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          referenceSatellite += ">";
                        }

                        referenceSatellite += "Refer. (" + satellite.Name + ")</option>";
                      } else {
                        satelliteOptions += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          satelliteOptions += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          satelliteOptions += ">";
                        }

                        satelliteOptions += satellite.Name + "</option>";
                      }
                    }
                  })
                  %>

                  <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>><%= __('TODOS') %></option>
                  <%- referenceSatellite + satelliteOptions %>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-biome-attributes-table"><%= __('Focos dos Biomas') %></label>
                <select multiple class="form-control" id="filter-biome-attributes-table">
                  <option value="all" selected><%= __('TODOS') %></option>
                  <option value="Amazonia">Amaz&ocirc;nia</option>
                  <option value="Caatinga">Caatinga</option>
                  <option value="Cerrado">Cerrado</option>
                  <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
                  <option value="Pampa">Pampa</option>
                  <option value="Pantanal">Pantanal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <button class="btn btn-primary" id="filter-button-attributes-table" style="margin-top: 40px;"><%= __('Aplicar') %></button>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <hr/>
      </div>
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
</div>
