<div class="fullscreen left-content-box" id="table-box">
  <br/>
  <div class="box" id="box-attributes-table">
    <div class="box-body">
      <div class="component-filter">
        <div class="component-filter-title">Confirme abaixo os filtros da tabela de atributos. Para baixar os dados use a ferramenta de exporta&ccedil;&atilde;o.</div>
        <div class="component-filter-content">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="continents-attributes-table">Continentes</label>
                <select id="continents-attributes-table" name="continents-attributes-table" class="form-control">
                  <option value="">Selecione o continente</option>
                  <% continents.rows.forEach(function(continent, index) { %>
                    <% if(continent.name === "Americas") { %>
                      <option value="<%- continent.id %>">Am&eacute;ricas</option>
                    <% } else if(continent.name === "Europe") { %>
                      <option value="<%- continent.id %>">Europa</option>
                    <% } else if(continent.name === "Africa") { %>
                      <option value="<%- continent.id %>">&Aacute;frica</option>
                    <% } else if(continent.name === "South_America") { %>
                      <option value="<%- continent.id %>">Am&eacute;rica do Sul</option>
                    <% } else { %>
                      <option value="<%- continent.id %>"><%- continent.name %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="countries-attributes-table">Países</label>
                <select multiple id="countries-attributes-table" name="countries-attributes-table" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-2" style="border-right: 1px solid black;">
              <div class="form-group">
                <label for="states-attributes-table">Estados</label>
                <select multiple id="states-attributes-table" name="states-attributes-table" class="form-control" disabled></select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="filter-date-from-attributes-table">Início</label>
                <input type="text" class="form-control date filter-date-from" id="filter-date-from-attributes-table" placeholder="De">
              </div>
              <div class="form-group">
                <label for="filter-date-to-attributes-table">Fim</label>
                <input type="text" class="form-control date filter-date-to" id="filter-date-to-attributes-table" placeholder="Até">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-satellite-attributes-table">Focos dos Sat&eacute;lites</label>
                <select multiple class="form-control" id="filter-satellite-attributes-table">
                  <%
                  var satelliteOptions = "";
                  var referenceSatellite = "";
                  var isSatelliteSelected = false;

                  configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
                    if(satellite.Current) {
                      if(satellite.ReferenceCurrent) {
                        referenceSatellite += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          referenceSatellite += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          referenceSatellite += ">";
                        }

                        referenceSatellite += "Refer. (" + satellite.Name + ")</option>";
                      } else {
                        satelliteOptions += "<option value=\"" + satellite.Id + "\"";

                        if(satellite.Selected) {
                          satelliteOptions += " selected>";

                          if(!isSatelliteSelected) isSatelliteSelected = true;
                        } else {
                          satelliteOptions += ">";
                        }

                        satelliteOptions += satellite.Name + "</option>";
                      }
                    }
                  })
                  %>

                  <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>>TODOS</option>
                  <%- referenceSatellite + satelliteOptions %>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="filter-biome-attributes-table">Focos dos Biomas</label>
                <select multiple class="form-control" id="filter-biome-attributes-table">
                  <option value="all" selected>TODOS</option>
                  <option value="Amazonia">Amaz&ocirc;nia</option>
                  <option value="Caatinga">Caatinga</option>
                  <option value="Cerrado">Cerrado</option>
                  <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
                  <option value="Pampa">Pampa</option>
                  <option value="Pantanal">Pantanal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <button class="btn btn-primary" id="filter-button-attributes-table" style="margin-top: 40px;">Aplicar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <hr/>
      </div>
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
</div>
