<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="<%- BASE_URL %>favicon.ico" type="image/x-icon" />
    <% include templates/stylesheets %>
    <title><%= __('Banco de Dados de Queimadas') %></title>
  </head>
  <body class="skin-queimadas sidebar-mini wysihtml5-supported sidebar-collapse">
    <input type="hidden" name="_csrf" id="_csrf" value="<%- csrf %>">
    <div class="wrapper">
      <% include templates/header %>
      <% include templates/leftbar %>
      <% include templates/leftContentBoxes %>
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div id="terrama2-map" class="terrama2-map cursor-move">
              <div id="map-tools">
                <div id="moveMap" class="map-tool-button mouse-function-btn"><button type="button" title="<%= __('Arrastar Tela') %>"><i class="fa fa-hand-rock-o"></i></button></div>
                <div id="dragbox" class="map-tool-button mouse-function-btn"><button type="button" title="<%= __('Selecionar Retângulo') %>"><i class="fa fa-crop"></i></button></div>
                <div id="initialExtent" class="map-tool-button mouse-function-btn"><button type="button" title="<%= __('Extensão Inicial') %>"><i class="fa fa-arrows-alt"></i></button></div>
                <div id="getAttributes" class="map-tool-button mouse-function-btn"><button type="button" title="<%= __('Obter Atributos dos Focos') %>"><i class="fa fa-google"></i></button></div>
                <div id="fogograma" class="map-tool-button mouse-function-btn"><button type="button" title="<%= __('FogoGrama') %>"><i class="fa fa-line-chart"></i></button></div>
                <div id="map-info-button" class="map-tool-button"><button type="button" title="<%= __('Informações da Tela') %>"><i class="fa fa-info"></i></button></div>
              </div>
              <span id="loading-span" class="loading-span hide"></span>
              <div id="map-subtitle" class="col-md-3" style="width: 150px">
                <div class="box box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title"><%= __('Legendas') %></h3>
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool map-subtitle-toggle" data-widget="collapse"><i class="fa fa-chevron-down"></i></button>
                    </div>
                  </div>
                  <div class="box-body no-padding"><ul class="nav nav-pills nav-stacked" id="map-subtitle-items">
                    <li id="no-subtitles" style="display: none;">
                      <ul class="nav nav-pills nav-stacked">
                        <li style="text-align: center; white-space: nowrap;">
                          <a>
                            <span style="font-weight: bold; margin-left: 3px;">Nenhuma legenda a ser exibida</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <% include templates/footer %>
    <div id="fogograma-box" style="padding: 0 !important; margin: 0 !important; overflow: hidden !important;"></div>
    <div id="map-info-box"></div>
    <div id="feature-info-box"></div>
    <div id="presentation-dialog" title="<%= __('Apresentação') %>"></div>
    <div id="about-dialog" title="<%= __('Sobre') %>">
      <div id="programa-cerrado-image"></div>
      <p>
        <span>
          Projeto <em>Platform of Monitoring and Warning of Forest Fires in the Cerrado</em> (ProCerrado INPE)
        </span>
        <br/><br/>
        Este projeto &eacute; parte integrante do Programa Cerrado, uma iniciativa de
        coopera&ccedil;&atilde;o entre os governos do Brasil e do Reino Unido, com apoio do Banco Mundial. O Ministério do Meio Ambiente (MMA), por
        meio de sua Secretaria de Mudan&ccedil;as Clim&aacute;ticas e Qualidade Ambiental (SMCQ), &eacute; o respons&aacute;vel pela coordena&ccedil;&atilde;o geral do programa.
        O objetivo da iniciativa &eacute; contribuir para a mitiga&ccedil;&atilde;o da mudan&ccedil;a do clima e para melhoria da gest&atilde;o de recursos naturais no bioma
        Cerrado por meio do aprimoramento de pol&iacute;ticas p&uacute;blicas e de pr&aacute;ticas de produtores rurais.
      </p>
      <p><span><%= __('PROJETO INPE') %></span></p>
      <div id="projeto-inpe-image"></div>
      <p><span><%= __('REALIZAÇÃO') %></span></p>
      <div id="realizacao-image"></div>
      <p style="margin-top: 40px;"><span>Plataforma digital para monitoramento e alerta de fogo na vegeta&ccedil;&atilde;o no Cerrado brasileiro (Banco Mundial TF018566)</span></p>
      <p id="number-of-accesses" style="margin: 10px; text-align: center; margin-top: 40px; font-size: 15px; font-weight: bold; display: none;">N&uacute;mero de acessos desde 2016/07/25: <span></span></p>
    </div>
    <div id="frequently-asked-questions" title="<%= __('Perguntas Frequentes') %>"></div>
    <% include templates/javascripts %>
  </body>
</html>
