<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" style="overflow: hidden !important;">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box" class="left-box" id="layer-explorer-and-filter-button">
        <a href="#" title="<%= __('Filtros de datas, satélites, regiões, e outras camadas') %>">
          <div class="menu-btn-number">1</div>
          <i class="fa fa-gears"></i>
          <span><%= __('Filtros de datas, satélites, regiões, e outras camadas') %></span>
        </a>
      </li>
      <li box="graph-box" class="left-box" id="graph-button">
        <a href="#" title="<%= __('Gráficos') %>">
          <div class="menu-btn-number">2</div>
          <i class="fa fa-bar-chart"></i>
          <span><%= __('Gráficos') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Exportar Dados') %>" id="export">
          <div class="menu-btn-number">3</div>
          <i class="fa fa-download"></i>
          <span><%= __('Exportar Dados') %></span>
        </a>
      </li>
      <li box="table-box" class="left-box" id="table-button">
        <a href="#" title="<%= __('Tabela de Atributos') %>">
          <div class="menu-btn-number">4</div>
          <i class="fa fa-table"></i>
          <span><%= __('Tabela de Atributos') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Sobre') %>" id="about-btn">
          <div class="menu-btn-number">5</div>
          <i class="fa fa-copyright" style="font-size: 16px;"></i>
          <span><%= __('Sobre') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Perguntas Frequentes') %>" id="frequently-asked-questions-btn">
          <div class="menu-btn-number">6</div>
          <i class="fa fa-question-circle" style="font-size: 16px;"></i>
          <span><%= __('Perguntas Frequentes') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Apresentação') %>" id="presentation-btn">
          <div class="menu-btn-number">7</div>
          <i class="fa fa-desktop"></i>
          <span><%= __('Apresentação') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Contato') %>" id="contact-btn">
          <div class="menu-btn-number">8</div>
          <i class="fa fa-envelope"></i>
          <span><%= __('Contato') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Avisos Operacionais') %>" id="notice-btn">
          <div class="menu-btn-number">9</div>
          <i class="fa fa-exclamation-triangle"></i>
          <span><%= __('Avisos Operacionais') %></span>
        </a>
      </li>
      <hr style="border: 2px solid black;"/>
      <li>
        <a href="http://www.inpe.br/queimadas/" title="<%= __('Home Queimadas') %>" target="_blank">
          <div class="menu-btn-number">1</div>
          <i class="fa fa-home" style="font-size: 18px !important;"></i>
          <span><%= __('Home Queimadas') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/situacao-atual" title="<%= __('Situação Atual') %>" target="_blank" id="current-situation-btn">
          <div class="menu-btn-number">2</div>
          <span><%= __('Situação Atual') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/estatistica_paises" title="<%= __('Resumos Países') %>" target="_blank" id="summary-countries-btn">
          <div class="menu-btn-number">3</div>
          <span><%= __('Resumos Países') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/estatistica_estados" title="<%= __('Resumos Estados') %>" target="_blank" id="summary-states-btn">
          <div class="menu-btn-number">4</div>
          <span><%= __('Resumos Estados') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/outros-produtos/mapas-mensais-filmes" title="<%= __('Mapas Mensais e Animações') %>" target="_blank" id="maps-and-animations-btn">
          <div class="menu-btn-number">5</div>
          <span><%= __('Mapas Mensais e Animações') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/outros-produtos/infoqueimada" title="<%= __('Boletim InfoQueima') %>" target="_blank" id="infoqueima-btn">
          <div class="menu-btn-number">6</div>
          <span><%= __('Boletim InfoQueima') %></span>
        </a>
      </li>
      <li>
        <a href="https://dev-queimadas.dgi.inpe.br/estatisticas/ucs_tis/repositorio_relat/relatorio.html" title="<%= __('Situação Atual Áreas Protegidas') %>" target="_blank" id="current-situation-protected-areas-btn">
          <div class="menu-btn-number">7</div>
          <span><%= __('Situação Atual Áreas Protegidas') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/ciman/" title="<%= __('CIMAN') %>" target="_blank" id="ciman-btn"><!-- https://dev-queimadas.dgi.inpe.br/ciman/ -->
          <div class="menu-btn-number">8</div>
          <span><%= __('CIMAN') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/outros-produtos/risco-de-fogo-e-meteorologia" title="<%= __('Risco de Fogo') %>" target="_blank" id="fire-risk-btn">
          <div class="menu-btn-number">9</div>
          <span><%= __('Risco de Fogo') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/links-adicionais/exemplos-e-validacoes" title="<%= __('Exemplos e Validações') %>" target="_blank" id="examples-and-validations-btn">
          <div class="menu-btn-number">10</div>
          <span><%= __('Exemplos e Validações') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/links-adicionais/na-midia" title="<%= __('Na Mídia') %>" target="_blank" id="on-media-btn">
          <div class="menu-btn-number">11</div>
          <span><%= __('Na Mídia') %></span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/queimadas/cadastro-de-usuarios" title="<%= __('Receber Alertas e Relatórios') %>" target="_blank">
          <div class="menu-btn-number">12</div>
          <i class="fa fa-at" style="font-size: 18px;"></i>
          <span><%= __('Receber Alertas e Relatórios') %></span>
        </a>
      </li>
    </ul>
  </section>
</aside>
